<div class="dialog-content-wrapper">
  <mat-toolbar class="mat-accent m-0">
    <mat-toolbar-row fxFlex fxLayout="row" fxLayoutAlign="space-between center">
      <div fxLayoutAlign="center center">
        <mat-icon>attach_money</mat-icon>
        <span class="title dialog-title">Selecciona un método de pago</span>
      </div>
      <button mat-icon-button (click)="matDialogRef.close()" aria-label="Close dialog">
        <mat-icon>close</mat-icon>
      </button>
    </mat-toolbar-row>
  </mat-toolbar>

  <div mat-dialog-content fusePerfectScrollbar>

    <div>
      <!-- [@animateStagger]="{value:'50'}" -->
      <div *ngIf="paymentMethodTypes.length > 0" class="payment-method-list">
        <div *ngFor="let payment of paymentMethodTypes" class="payment-method-ripple-container"
          [ngClass]="{'payment-method-selected': payment.id == selectedPaymentMethodType?.id}" matRipple
          fxLayout="column wrap" fxLayoutAlign="center center" [matRippleCentered]="centered"
          [matRippleDisabled]="disabled" [matRippleUnbounded]="unbounded" [matRippleRadius]="radius"
          [matRippleColor]="color" (click)="setSelectedPaymentMethod(payment.id)">
          <img class="m-8" src={{payment.imageUrl}}>
          <span>{{payment.name}}</span>
        </div>
      </div>
    </div>

    <div class="container-to-paid">
      <div class="item--paid-out">
        <h1>Por pagar</h1>
        <h2>{{subtotal + taxes - discount| currency:'HNL':'symbol'}}</h2>
      </div>
      <div class="item--exchange">
        <h1>Subtotal <span>{{subtotal | currency:'HNL':'symbol'}}</span></h1>
        <h1>Descuento <span>{{discount | currency:'HNL':'symbol'}}</span></h1>
        <h1>Impuesto <span>{{taxes | currency:'HNL':'symbol'}}</span></h1>
      </div>
    </div>

    <div class="container-amount">
      <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
        <mat-label>Monto</mat-label>
        <input matInput placeholder="Monto" (change)='amount=$event.target.value' [value]="amount" name="amount" formControlName="amount"
          type="number">
        <span matPrefix>$&nbsp;</span>
      </mat-form-field>
    </div>

  </div>

  <div mat-dialog-actions class="m-0 p-16" fxLayout="row" fxLayoutAlign="end end">
    <button mat-raised-button color="accent"  [disabled]="selectedPaymentMethodType?.id == undefined || amount == 0"
      (click)="addPayment()" class="save-button" aria-label="SAVE">
      <mat-icon>add</mat-icon>
      Agregar pago
    </button>
  </div>
</div>