<div class="dialog-content-wrapper">
  <mat-toolbar class="mat-accent m-0">
    <mat-toolbar-row fxFlex fxLayout="row" fxLayoutAlign="space-between center">
      <div fxLayoutAlign="center center">
        <mat-icon>attach_money</mat-icon>
        <span class="title dialog-title">Selecciona un método de pago</span>
      </div>
      <button mat-icon-button (click)="matDialogRef.close()" aria-label="Close dialog">
        <mat-icon>close</mat-icon>
      </button>
    </mat-toolbar-row>
  </mat-toolbar>

  <div mat-dialog-content fusePerfectScrollbar>
    <div class="payment-method-list">
      <div class="payment-method-ripple-container" [ngClass]="{'payment-method-selected': payment.isSelected}" matRipple
        fxLayout="column wrap" fxLayoutAlign="center center" [matRippleCentered]="centered"
        [matRippleDisabled]="disabled" [matRippleUnbounded]="unbounded" [matRippleRadius]="radius"
        [matRippleColor]="color" (click)="setSelectedPaymentMethod(payment.methodType)"
        *ngFor="let payment of paymentMethodList">
        <img class="m-8" src="assets/icons/custom/{{payment.icon}}.svg">
        <span>{{payment.title}}</span>
      </div>
    </div>


    <div class="container-to-paid">
      <div class="item--paid-out">
        <h1>Por pagar</h1>
        <h2>{{orderSubtotal + orderTaxes - orderDiscount| currency:'HNL':'symbol'}}</h2>
      </div>
      <div class="item--exchange">
        <h1>Subtotal <span>{{orderSubtotal | currency:'HNL':'symbol'}}</span></h1>
        <h1>Descuento <span>{{orderDiscount | currency:'HNL':'symbol'}}</span></h1>
        <h1>Impuesto <span>{{orderTaxes | currency:'HNL':'symbol'}}</span></h1>
      </div>
    </div>

    <div class="container-amount" *ngIf="selectedPaymentMethod?.methodType === paymentMethodEnum.CASH">
      <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
        <mat-label>Monto</mat-label>
        <input matInput placeholder="Digitar monto" value="{{paymentMethodsData.cash.total}}"
          (input)='totalChange($event.target.value)' name="amount" formControlName="amount" type="number">
        <span matPrefix>$&nbsp;</span>
      </mat-form-field>
    </div>

    <div class="container-amount" *ngIf="selectedPaymentMethod?.methodType === paymentMethodEnum.TRANSFER">
      <mat-form-field appearance="outline" floatLabel="always" class="w-100-p mb-8">
        <mat-label>Cuenta contable</mat-label>
        <input matInput placeholder="Digitar cuenta contable" (input)='accountChange($event.target.value)'
          name="accountingAccount" type="text" value="{{paymentMethodsData.wireTransfer.account}}">
      </mat-form-field>
      <mat-form-field appearance="outline" floatLabel="always" class="w-100-p mb-8">
        <mat-label>Fecha</mat-label>
        <input matInput placeholder="Digitar fecha" (input)='dateChange($event.target.value)' name="date" type="date"
          value="{{paymentMethodsData.wireTransfer.dateTime}}">
      </mat-form-field>
      <mat-form-field appearance="outline" floatLabel="always" class="w-100-p mb-8">
        <mat-label>Referencia</mat-label>
        <input matInput placeholder="Digitar referencia" (input)='referenceChange($event.target.value)' name="Reference"
          type="text" value="{{paymentMethodsData.wireTransfer.reference}}">
      </mat-form-field>
      <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
        <mat-label>Monto</mat-label>
        <input matInput placeholder="Digitar monto" (input)='totalChange($event.target.value)' name="amount"
          type="number" value="{{paymentMethodsData.wireTransfer.total}}">
        <span matPrefix>$&nbsp;</span>
      </mat-form-field>
    </div>

    <div class="container-amount" *ngIf="selectedPaymentMethod?.methodType === paymentMethodEnum.CREDITCARD">
      <mat-form-field appearance="outline" floatLabel="always" class="w-100-p mb-8">
        <mat-label>Nombre de la persona</mat-label>
        <input matInput placeholder="Digitar nombre" (input)='clientNameChange($event.target.value)'
          name="accountingAccount" type="text" value="{{paymentMethodsData.creditDebitCard.name}}">
      </mat-form-field>
      <mat-form-field appearance="outline" floatLabel="always" class="w-100-p mb-8">
        <mat-label>ID persona</mat-label>
        <input matInput placeholder="Digitar identidad" (input)='clientIdChange($event.target.value)' name="Reference"
          type="text" value="{{paymentMethodsData.creditDebitCard.personId}}">
      </mat-form-field>
      <mat-form-field appearance="outline" floatLabel="always" class="w-100-p mb-8">
        <mat-label>Válida hasta</mat-label>
        <input matInput placeholder="Digitar fecha de validez" (input)='dateChange($event.target.value)' name="date"
          type="date" value="{{paymentMethodsData.creditDebitCard.validThru}}">
      </mat-form-field>
      <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
        <mat-label>Monto</mat-label>
        <input matInput placeholder="Digitar monto" (input)='totalChange($event.target.value)' name="amount"
          type="number" value="{{paymentMethodsData.creditDebitCard.total}}">
        <span matPrefix>$&nbsp;</span>
      </mat-form-field>
    </div>

    <div class="container-amount" *ngIf="selectedPaymentMethod?.methodType === paymentMethodEnum.CHECK">
      <mat-form-field appearance="outline" floatLabel="always" class="w-100-p mb-8">
        <mat-label>Nombre del banco</mat-label>
        <mat-select name="BanckName" (selectionChange)='bankNameChange($event.value)' placeholder="Seleccionar opción">
          <mat-option *ngFor="let bank of bankList" [value]="bank.BankCode">{{bank.Account}}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline" floatLabel="always" class="w-100-p mb-8">
        <mat-label>Fecha del cheque</mat-label>
        <input matInput placeholder="Digitar Fecha" (input)='dateChange($event.target.value)' name="date" type="date">
      </mat-form-field>
      <mat-form-field appearance="outline" floatLabel="always" class="w-100-p mb-8">
        <mat-label>ID persona</mat-label>
        <input matInput placeholder="Digitar identidad" (input)='clientIdChange($event.target.value)' name="Reference"
          type="text">
      </mat-form-field>
      <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
        <mat-label>Monto</mat-label>
        <input matInput placeholder="Digitar monto" (input)='totalChange($event.target.value)' name="amount"
          type="number">
        <span matPrefix>$&nbsp;</span>
      </mat-form-field>
    </div>
  </div>

  <div mat-dialog-actions class="m-0 p-16" fxLayout="row" fxLayoutAlign="end end">
    <button mat-raised-button color="accent" (click)="save()" class="save-button" aria-label="SAVE">
      <mat-icon>add</mat-icon>
      Agregar pago
    </button>
  </div>
</div>