<div class="background-login" [@animate]="{value:'*',params:{delay:'50ms',y:'10px'}}">
    <div class="inner-container">
        <div class="shape">

        </div>
    </div>
</div>

<div id="login" class="inner-scroll" fxLayout="row" fxLayoutAlign="end">

    <div id="login-form-wrapper" fusePerfectScrollbar [@animate]="{value:'*',params:{delay:'300ms',x:'100%'}}">

        <div id="login-form">

            <div class="logo" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                <img src="assets/images/logos/brand.svg">
            </div>

            <div class="title" [@animate]="{value:'*',params:{delay:'50ms',y:'25px'}}">Comienza iniciando sesión</div>
            <p class="description" [@animate]="{value:'*',params:{delay:'100ms',y:'25px'}}">Ingresa tus datos de acceso
                para ingresar al sistema.</p>

            <form name="loginForm" [formGroup]="loginForm" novalidate>

                <mat-form-field appearance="outline">
                    <mat-label>Correo electrónico / Usuario</mat-label>
                    <input matInput formControlName="email">
                    <mat-icon matSuffix class="secondary-text">mail</mat-icon>
                    <mat-error *ngIf="loginForm.get('email').hasError('required')">
                        Correo electrónico / Usuario es requerido
                    </mat-error>
                    <mat-error *ngIf="!loginForm.get('email').hasError('required') &&
                                loginForm.get('email').hasError('email')">
                        Por favor ingresa un correo válido
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Contraseña</mat-label>
                    <input matInput type="password" formControlName="password">
                    <mat-icon matSuffix class="secondary-text">vpn_key</mat-icon>
                    <mat-error>
                        Contraseña es requerida
                    </mat-error>
                </mat-form-field>
                <br />
                <mat-error *ngIf="invalidPassword != ''">
                    {{invalidPassword}}
                </mat-error>
                <br />
                <mat-form-field appearance="fill">
                    <mat-label>Compañia</mat-label>
                    <mat-select formControlName="tenant">
                        <mat-option *ngFor="let t of tenants" [value]="t.id">{{t.name}}</mat-option>
                    </mat-select>

                </mat-form-field>

                <button mat-raised-button color="accent" class="submit-button" aria-label="LOGIN" (click)="doLogin()"
                    [disabled]="loginInProgress">
                    <p *ngIf="!loginInProgress">Iniciar Sesion</p>
                    <mat-spinner *ngIf="loginInProgress" diameter="30" style="margin:0 auto; font-size: small;">
                    </mat-spinner>
                </button>

            </form>

        </div>
    </div>
</div>