<div id="sincronization" class="page-layout carded fullwidth inner-scroll">

    <!-- TOP BACKGROUND -->
    <div class="top-bg accent"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <!-- HEADER -->
        <div class="header accent"
            fxLayout="column" fxLayoutAlign="center center"
            fxLayout.gt-sm="row" fxLayoutAlign.gt-sm="space-between center">

            <!-- APP TITLE -->
            <div class="logo mb-24 mb-md-0"
                fxLayout="row" fxLayoutAlign="start center">
                <mat-icon class="logo-icon s-32 mr-16" [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">
                    sync
                </mat-icon>
                <span class="logo-text h1" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                    Sincronización
                </span>
            </div>
            <!-- / APP TITLE -->

            <!-- ADD BUTTON -->
            <button mat-stroked-button color="primary">
                <mat-icon mat-icon>sync</mat-icon>
                <span>Sincronizar todo</span>
            </button>
            <!-- / ADD BUTTON -->

        </div>
        <!-- / HEADER -->

        <!-- SEARCH -->
        <search-bar (input)="search($event)"></search-bar>
        <!-- / SEARCH -->

        <!-- CONTENT CARD -->
        <div class="content-card">

            <!-- CONTENT -->
            <div class="content" fxLayout="column" fxFlex>

                <mat-tab-group>

                    <mat-tab>
                        <ng-template mat-tab-label>
                            <mat-icon class="example-tab-icon mr-8">cloud_download</mat-icon>
                            Descargas
                        </ng-template>
                        <!-- CONTENT TAB -->
                        <div class="tab-content" fusePerfectScrollbar>

                            <mat-table class="sincronization-table"
                                        #table [dataSource]="dataSourceSyncDown"
                                        matSort
                                        fusePerfectScrollbar>

                                <!-- CODE Column -->
                                <ng-container matColumnDef="code">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header>Código</mat-header-cell>
                                    <mat-cell *matCellDef="let SyncDown">
                                        <p class="text-truncate">{{SyncDown.code}}</p>
                                    </mat-cell>
                                </ng-container>

                                <!-- INFORMATION_TYPE Column -->
                                <ng-container matColumnDef="informationType">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header>Tipo de información</mat-header-cell>
                                    <mat-cell *matCellDef="let SyncDown">
                                        <p class="text-truncate">{{SyncDown.informationType}}</p>
                                    </mat-cell>
                                </ng-container>

                                <!-- STATUS Column -->
                                <ng-container matColumnDef="status">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header>Estado</mat-header-cell>
                                    <mat-cell *matCellDef="let SyncDown">
                                        <p class="text-truncate">{{SyncDown.status}}</p>
                                    </mat-cell>
                                </ng-container>

                                <!-- OPTIONS Column -->
                                <ng-container matColumnDef="options" stickyEnd>
                                    <mat-header-cell *matHeaderCellDef>Opciones</mat-header-cell>
                                    <mat-cell *matCellDef="let SyncDown">
                                        <button mat-icon-button  aria-label="icon-button with a menu">
                                            <mat-icon>more_vert</mat-icon>
                                        </button>
                                    </mat-cell>
                                </ng-container>

                                <mat-header-row *matHeaderRowDef="displayedColumnSyncDown; sticky:true"></mat-header-row>

                                <mat-row *matRowDef="let SyncDown; columns: displayedColumnSyncDown;"
                                            class="sincronization"
                                            matRipple>
                                </mat-row>

                            </mat-table>

                            <mat-paginator #paginator
                                            [length]="dataSourceSyncDown.filteredData.length"
                                            [pageIndex]="0"
                                            [pageSize]="10"
                                            [pageSizeOptions]="[5, 10, 25, 100]">
                            </mat-paginator>

                        </div>
                        <!-- / CONTENT TAB -->
                    </mat-tab>

                    <mat-tab>
                        <ng-template mat-tab-label>
                            <mat-icon class="example-tab-icon mr-8">cloud_upload</mat-icon>
                            Subidas
                        </ng-template>
                        <!-- CONTENT TAB -->
                        <div class="tab-content" fusePerfectScrollbar>

                            <mat-table class="sincronization-table"
                                        #table [dataSource]="dataSourceSyncUp"
                                        matSort
                                        fusePerfectScrollbar>

                                <!-- CODE Column -->
                                <ng-container matColumnDef="code">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header>Código</mat-header-cell>
                                    <mat-cell *matCellDef="let SyncUp">
                                        <p class="text-truncate">{{SyncUp.code}}</p>
                                    </mat-cell>
                                </ng-container>

                                <!-- CUSTOMER_CODE Column -->
                                <ng-container matColumnDef="customerCode">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header>Código del cliente</mat-header-cell>
                                    <mat-cell *matCellDef="let SyncUp">
                                        <p class="text-truncate">{{SyncUp.customerCode}}</p>
                                    </mat-cell>
                                </ng-container>

                                <!-- CUSTOMER_NAME Column -->
                                <ng-container matColumnDef="customerName">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header>Nombre del cliente</mat-header-cell>
                                    <mat-cell *matCellDef="let SyncUp">
                                        <p class="text-truncate">{{SyncUp.customerName}}</p>
                                    </mat-cell>
                                </ng-container>

                                <!-- TOTAL Column -->
                                <ng-container matColumnDef="total">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header>Total</mat-header-cell>
                                    <mat-cell *matCellDef="let SyncUp">
                                        <p class="text-truncate">{{SyncUp.total}}</p>
                                    </mat-cell>
                                </ng-container>

                                <!-- DOCUMENT_TYPE Column -->
                                <ng-container matColumnDef="documentType">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header>Tipo de documento</mat-header-cell>
                                    <mat-cell *matCellDef="let SyncUp">
                                        <p class="text-truncate">{{SyncUp.documentType}}</p>
                                    </mat-cell>
                                </ng-container>

                                <!-- STATUS Column -->
                                <ng-container matColumnDef="status">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header>Estado</mat-header-cell>
                                    <mat-cell *matCellDef="let SyncUp">
                                        <p class="text-truncate">{{SyncUp.status}}</p>
                                    </mat-cell>
                                </ng-container>

                                <!-- OPTIONS Column -->
                                <ng-container matColumnDef="options" stickyEnd>
                                    <mat-header-cell *matHeaderCellDef>Opciones</mat-header-cell>
                                    <mat-cell *matCellDef="let SyncUp">
                                        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="icon-button with a menu">
                                            <mat-icon>more_vert</mat-icon>
                                        </button>
                                        <mat-menu #menu="matMenu">
                                            <button mat-menu-item>
                                                <mat-icon>sync</mat-icon>
                                                <span>Sincronizar documento</span>
                                            </button>
                                            <mat-divider></mat-divider>
                                            <button mat-menu-item (click)="openDialogToEditJSON()">
                                                <mat-icon>edit</mat-icon>
                                                <span>Editar (JSON)</span>
                                            </button>
                                        </mat-menu>
                                    </mat-cell>
                                </ng-container>

                                <mat-header-row *matHeaderRowDef="displayedColumnSyncUp; sticky:true"></mat-header-row>

                                <mat-row *matRowDef="let SyncUp; columns: displayedColumnSyncUp;"
                                            class="sincronization"
                                            matRipple>
                                </mat-row>

                            </mat-table>

                            <mat-paginator #paginator
                                            [length]="dataSourceSyncUp.filteredData.length"
                                            [pageIndex]="0"
                                            [pageSize]="10"
                                            [pageSizeOptions]="[5, 10, 25, 100]">
                            </mat-paginator>

                        </div>
                        <!-- / CONTENT TAB -->
                    </mat-tab>
                </mat-tab-group>

            </div>
            <!-- / CONTENT -->
        </div>
        <!-- / CONTENT CARD -->
    </div>
    <!-- / CENTER -->
</div>
