<div id="customers" class="page-layout carded fullwidth inner-scroll">

    <!-- TOP BACKGROUND -->
    <div class="top-bg accent"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <!-- HEADER -->
        <div class="header accent" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-sm="row"
            fxLayoutAlign.gt-sm="space-between center">

            <!-- APP TITLE -->
            <div class="logo mb-24 mb-md-0" fxLayout="row" fxLayoutAlign="start center">
                <mat-icon class="logo-icon s-32 mr-16" [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">
                    person
                </mat-icon>
                <span class="logo-text h1" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                    Clientes
                </span>
            </div>
            <!-- / APP TITLE -->

            <!-- ADD BUTTON -->
            <button mat-stroked-button [routerLink]="'/customer/new'" color="primary">
                <mat-icon mat-icon>add</mat-icon>
                <span>Nuevo cliente</span>
            </button>
            <!-- / ADD BUTTON -->

        </div>
        <!-- / HEADER -->

        <!-- SEARCH -->
        <search (input)="search($event)"></search>
        <!-- / SEARCH -->

        <!-- CONTENT CARD -->
        <div class="content-card">
            <mat-table [ngClass]="{'customer-selected': true}" class="customers-table" #table [dataSource]="dataSource"
                matSort fusePerfectScrollbar>

                <!-- CODE Column -->
                <ng-container matColumnDef="code">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Código</mat-header-cell>
                    <mat-cell *matCellDef="let customer"
                        [routerLink]="!isDialog ? '/customer/'+customer.id+'/view' : null"
                        (click)="selectCustomer(customer.id)">
                        <p class="text-truncate">{{customer.code}}</p>
                    </mat-cell>
                </ng-container>

                <!-- NAME Column -->
                <ng-container matColumnDef="firstName">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Nombre</mat-header-cell>
                    <mat-cell *matCellDef="let customer"
                        [routerLink]="!isDialog ? '/customer/'+customer.id+'/view' : null"
                        (click)="selectCustomer(customer.id)">
                        <p class="text-truncate">{{customer.firstName}}</p>
                    </mat-cell>
                </ng-container>

                <!-- LASTNAME Column -->
                <ng-container matColumnDef="lastName">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Apellido</mat-header-cell>
                    <mat-cell *matCellDef="let customer"
                        [routerLink]="!isDialog ? '/customer/'+customer.id+'/view' : null"
                        (click)="selectCustomer(customer.id)">
                        <p class="text-truncate">{{customer.lastName}}</p>
                    </mat-cell>
                </ng-container>

                <!-- IDENTITY Column -->
                <ng-container matColumnDef="idNumber">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Identidad</mat-header-cell>
                    <mat-cell *matCellDef="let customer"
                        [routerLink]="!isDialog ? '/customer/'+customer.id+'/view' : null"
                        (click)="selectCustomer(customer.id)">
                        <p class="text-truncate">{{customer.idNumber}}</p>
                    </mat-cell>
                </ng-container>

                <!-- RTN Column -->
                <ng-container matColumnDef="rtn">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>RTN</mat-header-cell>
                    <mat-cell *matCellDef="let customer"
                        [routerLink]="!isDialog ? '/customer/'+customer.id+'/view' : null"
                        (click)="selectCustomer(customer.id)">
                        <p class="text-truncate">{{customer.rtn}}</p>
                    </mat-cell>
                </ng-container>

                <!-- ADDRESS Column -->
                <ng-container matColumnDef="address">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Dirección</mat-header-cell>
                    <mat-cell *matCellDef="let customer"
                        [routerLink]="!isDialog ? '/customer/'+customer.id+'/view' : null"
                        (click)="selectCustomer(customer.id)">
                        <p class="text-truncate">{{customer.address}}</p>
                    </mat-cell>
                </ng-container>

                <!-- PHONE Column -->
                <ng-container matColumnDef="phoneNumber">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Teléfono</mat-header-cell>
                    <mat-cell *matCellDef="let customer"
                        [routerLink]="!isDialog ? '/customer/'+customer.id+'/view' : null"
                        (click)="selectCustomer(customer.id)">
                        <p class="text-truncate">{{customer.phoneNumber}}</p>
                    </mat-cell>
                </ng-container>

                <!-- STATUS Column -->
                <ng-container matColumnDef="status">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Estatus</mat-header-cell>
                    <mat-cell *matCellDef="let customer"
                        [routerLink]="!isDialog ? '/customer/'+customer.id+'/view' : null"
                        (click)="selectCustomer(customer.id)">
                        <p class="text-truncate">{{getCustomerStatus(customer.status)}}</p>
                    </mat-cell>
                </ng-container>

                <!-- OPTIONS Column -->
                <ng-container matColumnDef="options" stickyEnd>
                    <mat-header-cell *matHeaderCellDef>Opciones</mat-header-cell>
                    <mat-cell *matCellDef="let customer">
                        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                            <mat-icon>more_vert</mat-icon>
                        </button>
                        <mat-menu #menu="matMenu">
                            <button mat-menu-item [routerLink]="'/customer/'+customer.id+'/edit'">
                                <mat-icon>edit</mat-icon>
                                <span>Editar</span>
                            </button>
                            <mat-divider></mat-divider>
                            <button mat-menu-item (click)="deleteCustomer(customer.id)">
                                <mat-icon>delete</mat-icon>
                                <span>Eliminar</span>
                            </button>
                        </mat-menu>
                    </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></mat-header-row>

                <mat-row *matRowDef="let customer; columns: displayedColumns;" class="customer" matRipple>
                </mat-row>

            </mat-table>

            <mat-paginator #paginator [length]="dataSource.filteredData.length" [pageIndex]="0" [pageSize]="10"
                [pageSizeOptions]="[5, 10, 25, 100]">
            </mat-paginator>
        </div>
        <!-- / CONTENT CARD -->
    </div>
    <!-- / CENTER -->
</div>