<div id="order" class="page-layout carded fullwidth inner-scroll">

    <!-- TOP BACKGROUND -->
    <div class="top-bg accent"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <!-- HEADER -->
        <div class="header accent" fxLayout="row" fxLayoutAlign="space-between center">

            <!-- APP TITLE -->
            <div fxLayout="row" fxLayoutAlign="start center">

                <button mat-icon-button class="mr-0 mr-sm-16" [routerLink]="'/order-list'">
                    <mat-icon>arrow_back</mat-icon>
                </button>

                <div fxLayout="column" fxLayoutAlign="start start"
                    [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                    <div class="h2">
                        Orden {{order.customerName}}
                    </div>
                    <div class="subtitle secondary-text">
                        <span>Contado</span>
                    </div>
                </div>
            </div>
            <div>

                <button mat-stroked-button [routerLink]="'/pos/' + order.id + '/creditNote'">
                    <mat-icon mat-icon>sync</mat-icon>
                    <span>Nota de crédito</span>
                </button>

                <button mat-stroked-button [routerLink]="'/pos/' + order.id + '/debitNote'">
                    <mat-icon mat-icon>sync</mat-icon>
                    <span>Nota de débito</span>
                </button>

            </div>
        </div>
        <!-- / HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card">

            <!-- CONTENT -->
            <div *ngIf="isDataAvailable" class="content">

                <mat-tab-group>
                    <mat-tab label="Detalles de la orden">
                        <app-order-details [order]= "order"></app-order-details>
                    </mat-tab>
                    <mat-tab label="({{order.items.length}}) productos">
                        <app-order-products [order]= "order"></app-order-products>
                    </mat-tab>
                    <mat-tab label="({{order.creditNotes.length + order.debitNotes.length}}) Notas de crédito / débito">
                        <app-credit-and-debit-notes (orderEvent)="refreshOrder($event)" [order]= "order"></app-credit-and-debit-notes>
                    </mat-tab>
                </mat-tab-group>

            </div>
            <!-- / CONTENT -->

        </div>
        <!-- / CONTENT CARD -->

    </div>
    <!-- / CENTER -->

</div>
