<div class="blank p-24 pos-sidebar" fusePerfectScrollbar>

    <!-- CONTENT CHIP TOGGLE -->
    <div *ngIf="pageType=='Orden'" class="buttom-chip-toggle" fxLayoutAlign="space-between end">
        <mat-chip-list aria-label="Fish selection">
            <mat-chip class="customer-add-mat-chip" (click)="openDialogToAddCustomer()">
                <mat-icon class="s-20 mr-8">add_circle</mat-icon>
                {{customer.firstName != undefined && customer.lastName != undefined 
                    ? customer.firstName +  ' ' + customer.lastName : 'Agregar cliente'}}
            </mat-chip>
        </mat-chip-list>

        <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
            <mat-button-toggle (click)="setOrderType('Contado')" value="cash">Contado</mat-button-toggle>
            <mat-button-toggle (click)="setOrderType('Credito')" value="credit">Crédito</mat-button-toggle>
        </mat-button-toggle-group>
    </div>

    <div *ngIf="pageType != 'Orden'">
        <h2>{{pageType}}</h2>
        <h3>{{'Cliente: ' + order.customerName}}</h3>
    </div>
    <!-- / CONTENT CARD -->

    <mat-divider></mat-divider>

    <table class="simple invoice-table-footer">
        <tbody>
            <tr class="subtotal">
                <td>Subtotal</td>
                <td>{{ order.subTotal | currency:'HNL':'symbol'}}</td>
            </tr>
            <tr class="discount">
                <td>Descuento</td>
                <td>-{{order.discount | currency:'HNL':'symbol'}}</td>
            </tr>
            <tr class="tax">
                <td>Impuesto</td>
                <td>{{order.isv | currency:'HNL':'symbol'}}</td>
            </tr>
            <tr class="total">
                <td>Total</td>
                <td>{{order.total | currency:'HNL':'symbol'}}</td>
            </tr>
        </tbody>
    </table>

    <div class="container-paid-exchange" *ngIf="orderType != 1 && pageType == 'Orden'">
        <div class="item--paid-out">
            <h1>Pagado</h1>
            <h2>{{order.paymentAmount | currency:'HNL':'symbol'}}</h2>
        </div>
        <div class="item--exchange">
            <h1>Cambio</h1>
            <h2>{{order.paymentAmount - order.total | currency:'HNL':'symbol'}}</h2>
        </div>
    </div>

    <div *ngIf="pageType=='Orden' && orderType != 1" 
        class="buttom-chip-toggle payment-methods" fxLayoutAlign="space-between end">
        <mat-chip-list *ngFor="let payment of order.paymentMethods" aria-label="Fish selection">
            <mat-chip class="customer-add-mat-chip">
                <mat-icon class="s-20 mr-8">remove_circle</mat-icon>
                {{(payment.amount | currency:'HNL':'symbol')}}
            </mat-chip>
        </mat-chip-list>
    </div>

    <div *ngIf="pageType=='Orden' && orderType != 1" class="container-payment-button" fxLayout="column" fxLayoutAlign="center center">        
        <div class="payment-item add-new-payment"
            matRipple
            fxLayout="column"
            fxLayoutAlign="center center"
            [matRippleCentered]="centered"
            [matRippleDisabled]="disabled"
            [matRippleUnbounded]="unbounded"
            [matRippleRadius]="radius"
            [matRippleColor]="color"
            [@animate]="{value:'*',params:{y:'100%'}}"
            (click)="openPaymentMethodDialog()">
            <mat-icon class="s-36">add_circle</mat-icon>
            <div class="payment-name">Agregar pago</div>
        </div>
    </div>

    <div class="container-complete-order-button">
        <br>
        <button mat-raised-button class="complete-order w-100-p p-4 mb-4" 
            (click)="create()" [disabled]="!isOrderReady">{{'Completar ' + pageType}}
        </button>
        <button mat-stroked-button color="warn" class="mt-4"
            (click)="resetOrder()">
            <mat-icon class="s-24">cancel</mat-icon>
            Cancelar orden
        </button>
    </div>

</div>
