@import "src/@fuse/scss/fuse";
.pos-sidebar {
    background: #FFFFFF;
    box-shadow: -10px 0px 15px rgba(0, 0, 0, 0.05);
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    width: 35%;
    min-width: 20%;
    max-width: 35%;
    z-index: 1000;
    box-shadow: 0 2px 8px 0 rgb(0 0 0 / 35%);
    height: calc(100vh - 64px);

    .buttom-chip-toggle {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 1.4em;

        .customer-add-mat-chip {
            background-color: #DDFBFF !important;
            color: #005E6A !important;
            cursor: pointer;
            mat-icon {
                color: #00C6E0;
            }
        }

        .mat-button-toggle-group-appearance-standard {
            border-radius: 25px;
            border: solid 1px #FEC001;

        }

        mat-button-toggle {
            color: #BFA800 !important;
        }

        .mat-button-toggle-checked {
            background-color: #FEC001;
            color: #FFFFFF !important;
        }

        .mat-button-toggle-label-content {
            line-height: 30px !important;
        }



    }

    .invoice-table-footer {
        margin: 24px 0 24px 0;

        tr {

            td {
                text-align: right;
                font-size: 17px;
                font-weight: 600;
                color: rgba(0, 0, 0, 0.54);
                border-bottom: none !important;
                padding: 8px 8px;
                padding-left: 0 !important;
                padding-right: 0 !important;

                &:first-child {
                    text-align: left;
                }
            }

            &.tax {

                td {
                    padding-bottom: 32px;
                }
            }

            &.total {

                td {
                    padding: 32px 8px;
                    border-top: 3px dashed rgba(0, 0, 0, 0.12);
                    border-bottom: 3px dashed rgba(0, 0, 0, 0.12) !important;
                    color: #555555;
                    font-family: Roboto;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 26px;
                    line-height: 30px;
                }
            }
        }
    }

}