<div class="page-layout blank">

    <div class="container-pos-product pr-24 pl-24 pb-24 pt-12" fusePerfectScrollbar>
        <div class="container-searchs">
            <search (click)="search($event)"></search>
            <div #searchResults class="tooltip-content bottom s-z-tooltip">
                <search-results (newOrderItemEvent)="addItem($event)"></search-results>
            </div>
        </div>
        <div #products>
            <pos-products [orderItems]="order.items"></pos-products>
        </div>
    </div>
    <pos-sidebar></pos-sidebar>
</div>
