<div class="page-layout blank">

    <div class="container-pos-product pr-24 pl-24 pb-24 pt-12" fusePerfectScrollbar>
        <div class="container-searchs">
            <search *ngIf="pageType != 'Nota de Credito'" (click)="openProductList()" (input)="search($event)"></search>
            <div #searchResults class="tooltip-content bottom s-z-tooltip">
                <button mat-icon-button class="button-close-tooltip" (click)="openProductList()">
                    <mat-icon>close</mat-icon>
                </button>
                <search-results (newOrderItemEvent)="addItem($event)"></search-results>
            </div>
        </div>
        <div #products>
            <pos-products (newOrderItemsEvent)="updateOrderItems($event)" [orderItems]="order.items"></pos-products>
        </div>
    </div>
    <pos-sidebar (newOrderEvent)="resetOrder($event)" [order]="order"></pos-sidebar>
</div>