<div id="configurations" class="page-layout carded fullwidth inner-scroll">

    <!-- TOP BACKGROUND -->
    <div class="top-bg accent"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <!-- HEADER -->
        <div class="header accent"
             fxLayout="column" fxLayoutAlign="center center"
             fxLayout.gt-sm="row" fxLayoutAlign.gt-sm="space-between center">

            <!-- APP TITLE -->
            <div class="logo mb-24 mb-md-0"
                fxLayout="row" fxLayoutAlign="start center">
                <mat-icon class="logo-icon s-32 mr-16" [@animate]="{value:'*', params:{delay:'50ms',scale:'0.2'}}">
                    settings
                </mat-icon>
                <span class="logo-text h1" [@animate]="{value:'*', params:{delay:'100ms',x:'-25px'}}">
                    Configuraciones
                </span>
            </div>
            <!-- / APP TITLE -->

            <!-- ADD BUTTON -->
            <button mat-stroked-button
                [routerLink]="'/configuration/new'"
                color="primary">
                <mat-icon mat-icon>add</mat-icon>
                <span>Nueva configuración</span>
            </button>
            <!-- / ADD BUTTON -->

        </div>
        <!-- / HEADER -->

        <!-- SEARCH -->
        <search (input)="search($event)"></search>
        <!-- / SEARCH -->

        <!-- CONTENT CARD -->
        <div class="content-card">


            <mat-table class="configurations-table"
                        #table [dataSource]="dataSource"
                        matSort
                        fusePerfectScrollbar>

                <!-- CODE Column -->
                <ng-container matColumnDef="code">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Código</mat-header-cell>
                    <mat-cell *matCellDef="let configuration"
                        [routerLink]="'/configuration/'+configuration.code+'/'+configuration.firstName">
                        <p class="text-truncate">{{configuration.code}}</p>
                    </mat-cell>
                </ng-container>

                <!-- KEY Column -->
                <ng-container matColumnDef="key">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Llave</mat-header-cell>
                    <mat-cell *matCellDef="let configuration"
                        [routerLink]="'/configuration/'+configuration.code+'/'+configuration.firstName">
                        <p class="text-truncate">{{configuration.key}}</p>
                    </mat-cell>
                </ng-container>

                <!-- VALUE Column -->
                <ng-container matColumnDef="value">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Valor</mat-header-cell>
                    <mat-cell *matCellDef="let configuration"
                        [routerLink]="'/configuration/'+configuration.code+'/'+configuration.firstName">
                        <p class="text-truncate">{{configuration.value}}</p>
                    </mat-cell>
                </ng-container>

                <!-- OPTIONS Column -->
                <ng-container matColumnDef="options" stickyEnd>
                    <mat-header-cell *matHeaderCellDef>Opciones</mat-header-cell>
                    <mat-cell *matCellDef="let customer">
                        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                            <mat-icon>more_vert</mat-icon>
                        </button>
                        <mat-menu #menu="matMenu">
                            <button mat-menu-item>
                                <mat-icon>edit</mat-icon>
                                <span>Editar</span>
                            </button>
                            <mat-divider></mat-divider>
                            <button mat-menu-item>
                                <mat-icon>delete</mat-icon>
                                <span>Eliminar</span>
                            </button>
                        </mat-menu>
                    </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></mat-header-row>

                <mat-row *matRowDef="let configuration; columns: displayedColumns;"
                            class="configuration"
                            matRipple>
                </mat-row>

            </mat-table>

            <mat-paginator #paginator
                            [length]="dataSource.filteredData.length"
                            [pageIndex]="0"
                            [pageSize]="10"
                            [pageSizeOptions]="[5, 10, 25, 100]">
            </mat-paginator>

        </div>
        <!-- / CONTENT CARD -->
    </div>
    <!-- / CENTER -->
</div>
