<!-- CARD 7 -->
<div class="card">
    <div class="position-relative">
        <img src="assets/images/backgrounds/product-not-found.svg">
    </div>

    <div class="header">
        <div class="h5 mb-4 primary-text">Espejo LH RTR APCHE RTR</div>
        <div class="h6 secondary-text">Code: N9221450</div>
    </div>

    <div class="body">
        <div class="price">
            <div>L 10.00</div>
        </div>

        <div class="inventory">
            <div class="h5 mb-4 secondary-text">Inventario por bodega</div>
            <div class="totals">
                <div class="h6 secondary-text"> <span>Actual:</span>250</div>
                <div class="h6 secondary-text"> <span>Todas:</span>1,250</div>
            </div>
        </div>
    </div>

    <div class="footer">
        <div class="buttoms">
            <div>
                <button mat-icon-button>
                    <mat-icon class="s-24">remove</mat-icon>
                </button>
            </div>
            <span class="number">0</span>
            <div>
                <button mat-icon-button>
                    <mat-icon class="s-24">add_circle</mat-icon>
                </button>
            </div>
        </div>
        <button mat-button color="warn">Agregar</button>
    </div>
</div>
<!-- / CARD  -->