<!-- CARD 7 -->
<div class="card">
    <div class="image-container">
        <img [attr.src]="product?.imageUrl ? product?.imageUrl : 'assets/images/backgrounds/product-not-found.svg'">
    </div>

    <div class="card-header">
        <div class="h5 mb-4 primary-text">
            <p class="card-text">
                {{product.name}}
            </p>
        </div>
        <div class="h6 secondary-text">{{product.code}}</div>
    </div>

    <div class="body">
        <div class="price">
            <div>{{product.salePrice}}</div>
        </div>

        <div class="inventory">
            <div class="h5 mb-4 secondary-text">Inventario: {{product.inventory}}</div>
        </div>
    </div>

    <div class="footer">
        <div class="buttoms">
            <div>
                <button mat-icon-button>
                    <mat-icon class="s-24" (click)="decreaseOrderItem()">remove</mat-icon>
                </button>
            </div>
            <span class="number">{{quantity}}</span>
            <div>
                <button mat-icon-button (click)="increaseOrderItem()">
                    <mat-icon class="s-24">add_circle</mat-icon>
                </button>
            </div>
        </div>
        <button mat-button color="warn" [disabled]="quantity < 1" (click)="addOrderItem()">Agregar</button>
    </div>
</div>
<!-- / CARD  -->