
<div class="dialog-content-wrapper">
  <mat-toolbar class="mat-accent m-0">
      <mat-toolbar-row fxFlex fxLayout="row" fxLayoutAlign="space-between center">
        <div fxLayoutAlign="center center">
          <mat-icon class="mr-8">edit</mat-icon>
          <span *ngIf="dialogType == 'edit'" class="title dialog-title">Editar registro</span>
          <span *ngIf="dialogType == 'view'" class="title dialog-title">Ver registro</span>
        </div>
        <button mat-icon-button (click)="close()" aria-label="Close dialog">
            <mat-icon>close</mat-icon>
        </button>
      </mat-toolbar-row>
  </mat-toolbar>

  <div mat-dialog-content fusePerfectScrollbar class="h-100-p">
    <div *ngIf="dialogType == 'edit'" class="alert-message">
      <div fxFlex fxLayout="row" fxLayoutAlign="start center">
        <mat-icon class="mr-24">warning</mat-icon>
        <p>Te encuentras en modo edición JSON. <span>Evita eliminar datos sin conocimiento.</span></p>
      </div>
      <button mat-stroked-button
        (click)="close()"
        class="exit-button"
        aria-label="EXIT">
          <mat-icon class="mr-8">exit_to_app</mat-icon>
          Salir de aqui
      </button>
    </div>

    <form name="formatJsonForm" [formGroup]="formatJsonForm" class="m-24">
      <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
        <mat-label>Mensaje</mat-label>
        <textarea matInput placeholder="Mensaje"  name="message" formControlName="message"></textarea>
      </mat-form-field>
      <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
        <mat-label>JSON</mat-label>
        <textarea matInput placeholder="json data"  (input)='dataChange($event.target.value)' name="jsonData" formControlName="jsonData"></textarea>
      </mat-form-field>
    </form>

  </div>

  <div mat-dialog-actions class="m-0 p-16" fxLayout="row" fxLayoutAlign="end end">
    <button *ngIf="dialogType == 'edit'" mat-raised-button
            color="accent"
            (click)="save()"
            class="save-button"
            aria-label="SAVE">
        <mat-icon class="mr-8">save</mat-icon>
        Guardar cambios
    </button>
  </div>
</div>
