.content-card{
    /* Border */
    border: 1px solid #CFE0E3;
    box-sizing: border-box;

    .mat-icon-button {
        padding: 0;
        min-width: 0;
        width: 30px;
        height: 30px;
        flex-shrink: 0;
        line-height: 20px;
        border-radius: 50%;
    }

    .buttoms {
        background-color: #E3FCFF;
        border-radius: 18px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;

        button {
            color: #00BCD4;
        }
    }


    .list-input{
        background: none;
        color: black;
        border: none;
        width: 50%;
        text-align: left;
        margin-left: -1em;
        margin-right: -1em;
    }

    .text-right{
        text-align: left;
        width: 100%;
        color: black;
        margin-left: -1em;
    }

    .products-table{
        .mat-column-quantity{
            flex: 0 1 120px;
            margin-right: 1.5em;
        }

        .mat-column-name{
            flex: 0 1 240px;
        }

        .mat-column-options{
            flex: 0 1 60px;
        }
    }
}